javascript:
  window.bull_fighter_texture = '#{image_url('bull_fighter.png')}'
  window.bull_texture = '#{image_url('bull.png')}'

= javascript_include_tag 'world', 'data-turbolinks-track'=>false
= javascript_include_tag 'start_button', 'data-turbolinks-track'=>false
= javascript_include_tag 'timer', 'data-turbolinks-track'=>false
= javascript_include_tag 'moveable_object', 'data-turbolinks-track'=>false
= javascript_include_tag 'bull_fighter', 'data-turbolinks-track'=>false
= javascript_include_tag 'bull', 'data-turbolinks-track'=>false
= javascript_include_tag 'game', 'data-turbolinks-track'=>false
